#cookies-eu-banner {
  position: fixed;
  z-index: 1000;
  bottom: 10px;
  right: 0;
  width: 100%;
  max-width: 600px;
  padding: 0 10px;
  opacity: 0.9;
}

#cookies-eu-banner > div {
  background: #444;
  color: #fff;
  padding: 20px 12px;
  text-align: center;
}

#cookies-eu-more,
#cookies-eu-accept {
  text-decoration: none;
  background: #222;
  color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  padding: 8px 16px;
  margin: 12px 0 0px 7px;
  font-size: 13px;
  font-weight: 700;
  transition: background .07s, color .07s, border-color .07s;
}

#cookies-eu-more:hover,
#cookies-eu-more:focus,
#cookies-eu-accept:hover,
#cookies-eu-accept:focus {
  background: #fff;
  color: #222;
}
