services:
  superlink:
    image: flwr/superlink:${FLWR_VERSION:-1.11.1}
    command:
      - --ssl-ca-certfile=certificates/ca.crt
      - --ssl-certfile=certificates/server.pem
      - --ssl-keyfile=certificates/server.key
      - --database=state/state.db
    volumes:
      - ./state/:/app/state/:rw
    secrets:
      - source: superlink-ca-certfile
        target: /app/certificates/ca.crt
      - source: superlink-certfile
        target: /app/certificates/server.pem
      - source: superlink-keyfile
        target: /app/certificates/server.key
    ports:
      - 9092:9092

  superexec:
    build:
      context: ${PROJECT_DIR:-.}
      dockerfile_inline: |
        FROM flwr/superexec:${FLWR_VERSION:-1.11.1}

        WORKDIR /app
        COPY --chown=app:app pyproject.toml .
        RUN sed -i 's/.*flwr\[simulation\].*//' pyproject.toml \
          && python -m pip install -U --no-cache-dir .

        ENTRYPOINT ["flower-superexec"]
    command:
      - --executor
      - flwr.superexec.deployment:executor
      - --executor-config
      - superlink="superlink:9091" root-certificates="certificates/superlink-ca.crt"
      - --ssl-ca-certfile=certificates/ca.crt
      - --ssl-certfile=certificates/server.pem
      - --ssl-keyfile=certificates/server.key
    secrets:
      - source: superlink-ca-certfile
        target: /app/certificates/superlink-ca.crt
      - source: superexec-ca-certfile
        target: /app/certificates/ca.crt
      - source: superexec-certfile
        target: /app/certificates/server.pem
      - source: superexec-keyfile
        target: /app/certificates/server.key
    ports:
      - 9093:9093
    depends_on:
      - superlink

secrets:
  superlink-ca-certfile:
    file: ../superlink-certificates/ca.crt
  superlink-certfile:
    file: ../superlink-certificates/server.pem
  superlink-keyfile:
    file: ../superlink-certificates/server.key
  superexec-ca-certfile:
    file: ../superexec-certificates/ca.crt
  superexec-certfile:
    file: ../superexec-certificates/server.pem
  superexec-keyfile:
    file: ../superexec-certificates/server.key
