[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "xgboost_comprehensive"
version = "1.0.0"
description = "Federated Learning with XGBoost and Flower (Comprehensive Example)"
license = "Apache-2.0"
dependencies = [
    "flwr[simulation]>=1.26.0",
    "flwr-datasets>=0.5.0",
    "xgboost>=2.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "xgboost_comprehensive.server_app:app"
clientapp = "xgboost_comprehensive.client_app:app"

[tool.flwr.app.config]
train-method = "bagging" # Choose from [bagging, cyclic]
num-server-rounds = 3
fraction-train = 1.0
fraction-evaluate = 1.0
centralised-eval = false
partitioner-type = "uniform" # Choose from [uniform, linear, square, exponential]
test-fraction = 0.2
seed = 42
centralised-eval-client = false
local-epochs = 1
scaled-lr = false

# XGBoost parameters
params.objective = "binary:logistic"
params.eta = 0.1 # Learning rate
params.max-depth = 8
params.eval-metric = "auc"
params.nthread = 16
params.num-parallel-tree = 1
params.subsample = 1
params.tree-method = "hist"
