colorama==0.4.6
setproctitle==1.2.2
psutil==5.9.8
shellingham==1.5.4
torchmetrics==1.6.1
Pygments==2.19.1
pandas==2.2.3
tomli==2.2.1
filelock==3.16.1
idna==3.10
kiwisolver==1.4.8
pip==24.3.1
multidict==6.1.0
pillow==11.1.0
huggingface-hub==0.27.1
toml==0.10.2
fonttools==4.55.3
iterators==0.0.2
untokenize==0.1.1
colorama==0.4.6
ruff==0.1.9
msgpack==1.1.0
pycryptodome==3.21.0
requests==2.32.3
pytest-watch==4.2.0
frozenlist==1.5.0
ray==2.10.0
tomlkit==0.13.2
fsspec==2024.9.0
flwr-datasets==0.5.0
markdown-it-py==3.0.0
sympy==1.13.3
seaborn==0.13.2
mypy-extensions==1.0.0
GitPython==3.1.44
referencing==0.36.1
networkx==3.4.2
pluggy==0.13.1
joblib==1.4.2
flwr==1.14.0
protobuf==4.25.5
isort==5.13.2
iniconfig==2.0.0
rich==13.9.4
astroid==3.2.4
tqdm==4.67.1
pylint==3.2.6
urllib3==2.3.0
scikit-learn==1.6.1
click==8.1.8
numpy==1.26.4
scipy==1.15.1
torch==2.2.1
black==24.2.0
tomli_w==1.2.0
cffi==1.17.1
aiohttp==3.11.11
jsonschema==4.23.0
propcache==0.2.1
Jinja2==3.1.5
torchvision==0.17.1
threadpoolctl==3.5.0
typer==0.12.5
pathspec==0.12.1
multiprocess==0.70.16
psutil==6.1.1
xxhash==3.5.0
pytest==6.2.4
datasets==3.1.0
py==1.11.0
gitdb==4.0.12
jsonschema-specifications==2024.10.1
matplotlib==3.10.0
mdurl==0.1.2
python-dateutil==2.9.0.post0
mpmath==1.3.0
pytz==2024.2
sentry-sdk==2.20.0
yarl==1.18.3
charset-normalizer==3.4.1
mccabe==0.7.0
packaging==24.2
floco==1.0.0
pydantic_core==2.27.2
docopt==0.6.2
pycparser==2.22
cycler==0.12.1
mypy==1.8.0
flake8==5.0.4
wheel==0.45.1
dill==0.3.8
pyparsing==3.2.1
docker-pycreds==0.4.0
contourpy==1.3.1
types-requests==2.31.0.20240125
aiosignal==1.3.2
typing_extensions==4.12.2
PyYAML==6.0.2
setuptools==75.8.0
rpds-py==0.22.3
attrs==24.3.0
smmap==5.0.2
tzdata==2024.2
docformatter==1.7.5
lightning-utilities==0.11.9
watchdog==6.0.0
pyflakes==2.5.0
pycodestyle==2.9.1
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
cryptography==42.0.8
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
pydantic==2.10.5
six==1.17.0
wandb==0.19.4
grpcio==1.64.3
pyarrow==19.0.0
MarkupSafe==3.0.2
