# Details: https://help.github.com/en/articles/about-code-owners

# Default code owners
* @tanertopal @danieljanes

# README.md
README.md @jafermarq @tanertopal @danieljanes

# Flower Baselines
/baselines @chongshenng @jafermarq @tanertopal @danieljanes

# Flower Benchmarks
/benchmarks @jafermarq @tanertopal @danieljanes

# Flower Datasets
/datasets @jafermarq @tanertopal @danieljanes

# Flower Examples
/examples @panh99 @chongshenng @jafermarq @tanertopal @danieljanes

# Flower Intelligence
/intelligence/dev @charlesbvll @tanertopal @danieljanes
/intelligence/docs @charlesbvll @tanertopal @danieljanes
/intelligence/ts @charlesbvll @tanertopal @danieljanes

# Flower Framework Docs
/framework/docs @panh99 @tanertopal @danieljanes

# Flower Templates
/framework/py/flwr/cli/new/templates @jafermarq @tanertopal @danieljanes

# Changelog
/framework/docs/source/ref-changelog.md @jafermarq @tanertopal @danieljanes

# Translations
/framework/docs/locales @charlesbvll @tanertopal @danieljanes

# GitHub Actions and Workflows
/.github/actions @Robert-Steiner @tanertopal @danieljanes
/.github/workflows @Robert-Steiner @tanertopal @danieljanes

# Docker-related files
**/*.Dockerfile @Robert-Steiner @Moep90 @tanertopal @danieljanes
**/Dockerfile @Robert-Steiner @Moep90 @tanertopal @danieljanes
/.devcontainer @Robert-Steiner @Moep90 @tanertopal @danieljanes
/framework/docker @Robert-Steiner @Moep90 @tanertopal @danieljanes

# Flower Framework Infrastructure
/framework/py/flwr/supercore/ @panh99 @tanertopal @danieljanes
/framework/py/flwr/superlink/ @panh99 @tanertopal @danieljanes
/framework/py/flwr/supernode/ @panh99 @tanertopal @danieljanes

# Override for `flower-` CLI
/framework/py/flwr/supercore/cli/ @tanertopal @danieljanes
/framework/py/flwr/superlink/cli/ @tanertopal @danieljanes
/framework/py/flwr/supernode/cli/ @tanertopal @danieljanes

# Flower `flwr` CLI
/framework/py/flwr/cli/ @danieljanes @jafermarq @panh99 @tanertopal
