# Details: https://help.github.com/en/articles/about-code-owners

# Default code owners
* @danieljanes @tanertopal

# Flower Baselines
/baselines @jafermarq @tanertopal @danieljanes

# Flower Examples
/examples @jafermarq @tanertopal @danieljanes

# Changelog
/doc/source/ref-changelog.md @jafermarq @tanertopal @danieljanes
