root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.cc]
indent_style = space
indent_size = 2

[*.py]
profile = black

[*.rst]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
