absl-py==0.9.0
alabaster==0.7.12
appdirs==1.4.3
astor==0.8.1
astroid==2.3.3
attrs==19.3.0
Babel==2.8.0
black==19.10b0
CacheControl==0.12.6
cachetools==4.0.0
cachy==0.3.0
certifi==2019.11.28
chardet==3.0.4
cleo==0.7.6
click==7.1.1
clikit==0.4.2
docutils==0.16
gast==0.2.2
google-auth==1.11.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.27.2
grpcio-tools==1.27.2
h5py==2.10.0
html5lib==1.0.1
idna==2.9
imagesize==1.2.0
importlib-metadata==1.1.3
isort==4.3.21
Jinja2==2.11.1
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==20.0.1
lazy-object-proxy==1.4.3
lockfile==0.12.2
Markdown==3.2.1
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.2.0
msgpack==1.0.0
mypy==0.761
mypy-extensions==0.4.3
mypy-protobuf==1.18
numpy==1.18.1
oauthlib==3.1.0
opt-einsum==3.2.0
packaging==20.3
pastel==0.2.0
pathspec==0.7.0
pexpect==4.8.0
pkginfo==1.5.0.1
pluggy==0.13.1
poetry==1.0.5
protobuf==3.11.3
ptyprocess==0.6.0
py==1.8.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.6.1
pylev==1.3.0
pylint==2.4.4
pyparsing==2.4.6
pyrsistent==0.14.11
pytest==5.3.4
pytz==2019.3
regex==2020.2.20
requests==2.23.0
requests-oauthlib==1.3.0
requests-toolbelt==0.8.0
rope==0.16.0
rsa==4.0
scipy==1.4.1
shellingham==1.3.2
six==1.14.0
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
toml==0.10.0
tomlkit==0.5.11
typed-ast==1.4.1
typing-extensions==3.7.4.1
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
wrapt==1.11.2
zipp==3.1.0
