[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "quickstart-huggingface"
version = "1.0.1"
description = "Federated Learning with Hugginface Transformers and Flower (Quickstart Example)"
license = "Apache-2.0"
authors = [
    { name = "The Flower Authors", email = "hello@flower.ai" },
    { name = "Kaushik Amar Das", email = "kaushik.das@iiitg.ac.in" },
]
dependencies = [
    "flwr[simulation]>=1.26.0",
    "flwr-datasets>=0.5.0",
    "torch==2.8.0",
    "transformers>=4.30.0,<5.0",
    "evaluate>=0.4.0,<1.0",
    "datasets>=2.0.0, <3.0",
    "scikit-learn>=1.3.1, <2.0",
]

[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "huggingface_example.server_app:app"
clientapp = "huggingface_example.client_app:app"

[tool.flwr.app.config]
num-server-rounds = 3
model-name = "prajjwal1/bert-tiny"
fraction-train = 0.05
fraction-evaluate = 0.1
