##### Flower Baseline Dependencies
# Under Apache-2.0 license
# Authors: The Flower Authors <hello@flower.ai>
# Website: https://flower.ai
# Repository: https://github.com/adap/flower
# Documentation: https://flower.ai

##### dependencies
flwr >= 0.18.0
torch >= 1.10.1
torchvision == 0.11.2
numpy >= 1.20.0
tqdm == 4.62.3
matplotlib >= 3.5.0
scikit-image >= 0.18.1
scikit-learn >= 0.24.2
wget >= 3.2
virtualenv >= 20.24.6

##### dev-dependencies
isort == 5.13.2
black == 24.2.0
docformatter == 1.7.5
mypy == 0.961
pylint == 2.8.2
flake8 == 3.9.2
pytest == 6.2.4
pytest-watch == 4.2.0
types-requests == 2.27.7
pydantic ==2.4.2
