[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "monaiexample"
version = "1.0.0"
description = "Federated Learning with MONAI and Flower (Quickstart Example)"
license = "Apache-2.0"
dependencies = [
    "flwr[simulation]>=1.26.1",
    "flwr-datasets[vision]>=0.5.0",
    "monai==1.5.2",
    "filelock==3.20.3",
    "numpy>=2.0.0",
]

[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "monaiexample.server_app:app"
clientapp = "monaiexample.client_app:app"

[tool.flwr.app.config]
num-server-rounds = 5
fraction-train = 0.5
batch-size = 128
