[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "tensorflow-privacy-fl"
version = "1.0.0"
description = "Sample-level Differential Privacy with Tensorflow-Privacy in Flower"
dependencies = [
    "flwr[simulation]>=1.24.0",
    "flwr-datasets[vision]>=0.5.0",
    "tensorflow-estimator~=2.4",
    "tensorflow-probability~=0.22.0",
    "tensorflow>=2.4.0,<=2.15.0",
    "tensorflow-privacy == 0.9.0",
]

[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "tf_privacy.server_app:app"
clientapp = "tf_privacy.client_app:app"

[tool.flwr.app.config]
num-server-rounds = 3
l2-norm-clip = 1.0
num-microbatches = 64
learning-rate = 0.01
batch-size = 64

[tool.flwr.federations]
default = "local-simulation"

[tool.flwr.federations.local-simulation]
options.num-supernodes = 2
