[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "opacus"
version = "0.1.0"
description = "Sample Differential Privacy with Opacus in Flower"
authors = [
    { name = "The Flower Authors", email = "hello@flower.ai" },
]
dependencies = [
    "flwr>=1.8.0,<2.0",
    "flwr-datasets[vision]>=0.0.2,<1.0.0",
    "torch==2.1.1",
    "torchvision==0.16.1",
    "tqdm==4.65.0"
    "opacus==1.4.1"
]

[tool.hatch.build.targets.wheel]
packages = ["."]