[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "e2e-tensorflow"
version = "1.0.0"
description = "Keras Federated Learning E2E test with Flower"
license = "Apache-2.0"
dependencies = [
    "flwr[simulation]",
    "tensorflow-cpu>=2.18.0",
    "Pillow>=11.2.1",
]

[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.uv.sources]
flwr = { path = "../..", editable = true }


[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "e2e_tensorflow.server_app:app"
clientapp = "e2e_tensorflow.client_app:app"

[tool.flwr.app.config]

[tool.flwr.federations]
default = "local-simulation"

[tool.flwr.federations.local-simulation]
options.num-supernodes = 10
