:root {
  /* Colors */
  --primary-blue: #0070ff;
  --secondary-darkest: #101010;
  --secondary-dark-gray: #60606e;
  --secondary-medium-dark-gray: #757582;
  --secondary-soft-gray: #b7b7bf;
  --white: #ffffff;
  --light-blue-bg: #f8f9fc;

  /* Font definitions */
  --h1-font-family: 'Inter', sans-serif;
  --h1-font-size: 2rem;
  /* use rem to make it responsive */
  --h1-line-height: 1.2;
  --h1-font-weight: 600;

  --h3-font-family: 'Inter-SemiBold', sans-serif;
  --h3-font-size: 1.5rem;
  --h3-line-height: 1.2;
  --h3-font-weight: 600;

  --medium-font-size: 1rem;
  --small-font-size: 0.875rem;
}

a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  background: none;
  -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advancedSection {
  display: none;
  /* Hidden by default */
  margin-top: 10px;
  flex-direction: column;
  gap: 16px;
}

.advancedSection.visible {
  display: flex;
  /* Visible when expanded */
}

.toggleAdvancedButton {
  cursor: pointer;
  /* margin-top: 15px; */
  display: inline-block;
  margin-bottom: 16px;
}

.toggleAdvancedButton:hover {
  color: #0070ff;
  font-weight: bold;
}

body {
  font-family: 'Inter-Regular', sans-serif;
  margin: 0;
  padding: 0;
  background: var(--light-blue-bg);
}

textarea {
  font-family: 'Inter-Regular', sans-serif;
  font-size: var(--medium-font-size, 16px);
}

.mainContainer {
  width: 600px;
  margin: auto;
  background: var(--light-blue-bg);
  border-radius: 12px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mainTitle {
  background: linear-gradient(to right bottom, #0070ff, #9747ff);
  background-clip: text;
  color: transparent;
  text-align: center;
  /* text-align: left; */
  font-family: var(--h1-font-family);
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  line-height: var(--h1-line-height);
  margin-bottom: 1rem;
  padding-top: 16px;
}

.mainTitle svg {
  display: none;
  font-family: 'Inter-SemiBold', sans-serif;
  vertical-align: middle;
  margin: 0 5px;
  width: 1em;
  height: 1em;
}

.settingTitle {
  color: var(--secondary-darkest);
  text-align: left;
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  line-height: var(--h3-line-height);
  margin-bottom: 1rem;
  /* padding-top: 16px; */
}

.settingContainer {
  display: flex;
  width: 100%;
  cursor: pointer;
}

.advancedSettingContainer {
  padding: 10px;
  border: 1px solid var(--secondary-soft-gray);
  border-radius: 12px;
}

.inputLabel {
  flex: 50%;
}

.inputLabel:hover {
  color: #0070ff;
  font-weight: bold;
}

.footerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 16px;
  padding-top: 16px;
}

.flowerLogo {
  width: 24px;
  height: auto;
}

.saveButton {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(--medium-font-family, 'Inter-Regular', sans-serif);
  font-size: var(--medium-font-size, 16px);
  line-height: var(--medium-line-height, 100%);
  font-weight: var(--medium-font-weight, 400);
  position: relative;
}

.footerText {
  color: var(--secondary-medium-dark-gray);
  font-size: 0.875rem;
}

.footerText a {
  text-decoration: none;
  background: linear-gradient(to right bottom, #0070ff, #9747ff);
  background-clip: text;
  color: transparent;
}

.outerButtonContainer {
  display: flex;
  text-align: center;
  width: 100%;
}

.smallButtonContainer {
  background: var(--secondary-soft-gray);
  color: var(--white);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  margin-top: 0.5rem;
  flex: 30%;
  gap: 24px;
}

.resetButton {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: var(--medium-font-family, 'Inter-Regular', sans-serif);
  font-size: var(--medium-font-size, 16px);
  line-height: var(--medium-line-height, 100%);
  font-weight: var(--medium-font-weight, 400);
  position: relative;
  width: 100%;
}

.buttonContainer {
  background: var(--secondary-soft-gray);
  color: var(--white);
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.inputContainer {
  width: 100%;
  margin-bottom: 1rem;
}

.labelPlaceholder {
  width: 100%;
  height: 60px;
  resize: none;
}

.inputBox {
  width: 100%;
  padding: 12px;
  background: var(--white);
  border: 1px solid var(--secondary-soft-gray);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.toggle svg {
  cursor: pointer;
  width: 24px;
  height: 24px;
  fill: #5f6368;
  transition: fill 0.4s ease;
}

.toggle-on svg {
  fill: #1e88e5;
}

.inputHelpText {
  color: var(--secondary-soft-gray);
  font-size: var(--small-font-size);
  margin-top: 0.5rem;
  flex: 70%;
  gap: 24px;
}
