[build-system]
requires = [
    "poetry==1.1.14",
]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mxnet_example"
version = "0.1.0"
description = "MXNet example with MNIST and CNN"
authors = ["The Flower Authors <hello@flower.dev>"]

[tool.poetry.dependencies]
python = "^3.7"
flwr = "^0.17.0"
# flwr = { path = "../../", develop = true }  # Development
mxnet = "^1.7.0"
