[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "tensorflow_fexample"
version = "1.0.0"
description = "Federated Learning with Tensorflow/Keras and Flower (Advanced Example)"
license = "Apache-2.0"
dependencies = [
    "flwr[simulation]>=1.26.1",
    "flwr-datasets[vision]>=0.5.0",
    "tensorflow-cpu>=2.9.1, != 2.11.1 ; platform_machine == \"x86_64\"",
    "tensorflow-macos>=2.9.1, != 2.11.1 ; sys_platform == \"darwin\" and platform_machine == \"arm64\"",
    "wandb==0.17.8",
]
[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "tensorflow_example.server_app:app"
clientapp = "tensorflow_example.client_app:app"

[tool.flwr.app.config]
num-server-rounds = 10
local-epochs = 1
batch-size = 32
fraction-train = 0.25
fraction-evaluate = 0.5
