name: Reusable Docker image build workflow

on:
  workflow_call:
    inputs:
      namespace-repository:
        description: "The namespace and repository in the following format `namespace/repository` e.g. (flwr/base)."
        required: true
        type: string
      file-dir:
        description: "Path of the directory that contains the Dockerfile."
        required: true
        type: string
      build-args:
        description: "List of build-time variables."
        required: false
        type: string
      tags:
        description: "List of tags."
        required: true
        type: string
    secrets:
      dockerhub-user:
        required: true
      dockerhub-token:
        required: true
    outputs:
      metadata:
        description: "Metadata of the Docker image."
        value: ${{ jobs.build-manifest.outputs.metadata }}

permissions:
  contents: read

# based on https://docs.docker.com/build/ci/github-actions/multi-platform/#distribute-build-across-multiple-runners
jobs:
  build:
    name: Build Docker image
    runs-on: ${{ matrix.platform.runner-os }}
    timeout-minutes: 180
    outputs:
      build-id: ${{ steps.build-id.outputs.id }}
    strategy:
      fail-fast: true
      matrix:
        platform: [
            { name: "amd64", docker: "linux/amd64", runner-os: "ubuntu-22.04" },
            { name: "arm64", docker: "linux/arm64", runner-os: "ubuntu-4-core-arm64" },
          ]
    steps:
      - name: Create build id
        id: build-id
        shell: python
        env:
          NAMESPACE_REPOSITORY: ${{ inputs.namespace-repository }}
          FILE_DIR: ${{ inputs.file-dir }}
          BUILD_ARGS: ${{ inputs.build-args }}
        run: |
          import hashlib
          import os

          namespace_repository = os.environ.get("NAMESPACE_REPOSITORY", "")
          file_dir = os.environ.get("FILE_DIR", "")
          build_args_input = os.environ.get("BUILD_ARGS", "")

          hash_input = f"{namespace_repository}\n{file_dir}\n{build_args_input}"
          hash = hashlib.sha256(hash_input.encode())

          # Adds two spaces to the line breaks to ensure proper indentation
          # when passing the multi-line string to the wretry.action.
          # Without it, the multi-line string is passed like this:
          #
          # build-args: |
          #   ARG1=
          # ARG2=
          # ARG3=
          #
          # This causes the Docker action to interpret ARG2 and ARG3 as keys instead
          # of values ​​of the multi-line string.
          build_args = build_args_input.replace("\n", "\n  ")

          with open(os.environ['GITHUB_OUTPUT'], 'a') as fh:
              print(f"id={hash.hexdigest()}", file=fh)
              print("build-args<<EOF", file=fh)
              print(build_args, file=fh)
              print("EOF", file=fh)

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ inputs.namespace-repository }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.dockerhub-user }}
          password: ${{ secrets.dockerhub-token }}

      - name: Build and push
        uses: Wandalen/wretry.action@e68c23e6309f2871ca8ae4763e7629b9c258e1ea # v3.8.0
        id: build
        with:
          action: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
          attempt_limit: 60 # 60 attempts * (9 secs delay + 1 sec retry) = ~10 mins
          attempt_delay: 9000 # 9 secs
          with: |
            pull: true
            sbom: true
            platforms: ${{ matrix.platform.docker }}
            context: "{{defaultContext}}:${{ inputs.file-dir }}"
            outputs: type=image,name=${{ inputs.namespace-repository }},push-by-digest=true,name-canonical=true,push=true
            build-args: |
              ${{ steps.build-id.outputs.build-args }}

      - name: Export digest
        run: |
          mkdir -p /tmp/digests
          digest="${{ fromJSON(steps.build.outputs.outputs).digest }}"
          touch "/tmp/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: digests-${{ steps.build-id.outputs.id }}-${{ matrix.platform.name }}
          path: /tmp/digests/*
          if-no-files-found: error
          retention-days: 1

  build-manifest:
    name: Build and push Docker manifest for all platforms
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    needs: build
    outputs:
      metadata: ${{ steps.meta.outputs.json }}
    steps:
      - name: Download digests
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4.3.0
        with:
          pattern: digests-${{ needs.build.outputs.build-id }}-*
          path: /tmp/digests
          merge-multiple: true

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@c1e51972afc2121e065aed6d45c65596fe445f3f # v5.8.0
        with:
          images: ${{ inputs.namespace-repository }}
          tags: ${{ inputs.tags }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ secrets.dockerhub-user }}
          password: ${{ secrets.dockerhub-token }}

      - name: Create Docker manifest list and push
        working-directory: /tmp/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
              $(printf '${{ inputs.namespace-repository }}@sha256:%s ' *)
      - name: Inspect Docker image
        run: docker buildx imagetools inspect ${{ inputs.namespace-repository }}:${{ steps.meta.outputs.version }}
