name: Datasets

on:
  push:
    branches:
      - main
    paths:
      - "datasets/**"
      - ".github/workflows/datasets.yml"
      - ".github/workflows/datasets-e2e.yml"
  pull_request:
    branches:
      - main
    paths:
      - "datasets/**"
      - ".github/workflows/datasets.yml"
      - ".github/workflows/datasets-e2e.yml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FLWR_TELEMETRY_ENABLED: 0

jobs:
  test_core:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        # Latest version which comes cached in the host image can be found here:
        # https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md#python
        # In case of a mismatch, the job has to download Python to install it.
        python: ['3.10', '3.11', '3.12']

    name: Python ${{ matrix.python }}

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Bootstrap
        uses: ./.github/actions/bootstrap
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies (mandatory only)
        run: |
          cd datasets
          python -m poetry install --all-extras
      - name: Cache Hugging Face datasets
        uses: actions/cache@v3
        with:
          path: ~/.cache/huggingface
          key: hf-datasets-v1
          restore-keys: hf-datasets-
      - name: Set Hugging Face token
        run: |
          if [ -n "${{ secrets.HF_TOKEN }}" ]; then
            echo "Logging into Hugging Face..."
            huggingface-cli login --token ${{ secrets.HF_TOKEN }}
          else
            echo "Skipping Hugging Face login stage (HF_TOKEN not set)"
          fi
      - name: Test (formatting + unit tests)
        run: ./datasets/dev/test.sh
