name: Docs

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FLWR_TELEMETRY_ENABLED: 0

jobs:
  build_docs:
    runs-on: ubuntu-22.04
    name: Build
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap
        uses: ./.github/actions/bootstrap
      - name: Install pandoc
        run: sudo apt install pandoc
      - name: Install dependencies (mandatory only)
        run: python -m poetry install --extras "simulation"
      - name: Build docs
        run: ./dev/build-docs.sh

  deploy_docs:
    needs: build_docs
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-22.04
    name: Deploy 
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Bootstrap
        uses: ./.github/actions/bootstrap
      - name: Install pandoc
        run: sudo apt install pandoc
      - name: Install dependencies (mandatory only)
        run: python -m poetry install --extras "simulation"
      - name: Build and deploy docs
        env:
          AWS_DEFAULT_REGION: ${{ secrets. AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets. AWS_SECRET_ACCESS_KEY }}
        run: ./dev/deploy-docs.sh
