name: Intelligence TS

on:
  push:
    branches:
      - main
    paths:
      - 'intelligence/ts/**'
      - '.github/workflows/intelligence-ts.yml'
  pull_request:
    branches:
      - main
    paths:
      - 'intelligence/ts/**'
      - '.github/workflows/intelligence-ts.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FLWR_TELEMETRY_ENABLED: 0

jobs:
  fi_ts_build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Run build
        working-directory: intelligence/ts
        run: pnpm build

  fi_ts_format:
    name: Format Check
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Run format check
        working-directory: intelligence/ts
        run: pnpm format:check

  fi_ts_copyright:
    name: Copyright Check
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run copyright check
        working-directory: intelligence
        run: ./dev/check-copyright.sh

  fi_ts_lint:
    name: Lint Check
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Run lint check
        working-directory: intelligence/ts
        run: pnpm lint:check

  fi_ts_demos:
    name: Demos
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Get API Key
        id: get_api_key
        env:
          FI_DEV_REMOTE_URL: ${{ secrets.FI_DEV_REMOTE_URL }}
          FI_MGMT_API_KEY: ${{ secrets.FI_MGMT_API_KEY }}
        run: |
          api_key=$(./intelligence/dev/get-api-key.sh)
          echo "::add-mask::$api_key"
          echo "api_key=$api_key" >> $GITHUB_OUTPUT

      - name: Run demos
        working-directory: intelligence/ts
        env:
          FI_DEV_REMOTE_URL: ${{ secrets.FI_DEV_REMOTE_URL }}
          FI_API_KEY: ${{ steps.get_api_key.outputs.api_key }}
        run: |
          sed -i "s|https://api.flower.ai|${FI_DEV_REMOTE_URL}|g" src/constants.ts
          pnpm demo:e2e

  fi_ts_tests:
    name: Tests
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Get API Key
        id: get_api_key
        env:
          FI_DEV_REMOTE_URL: ${{ secrets.FI_DEV_REMOTE_URL }}
          FI_MGMT_API_KEY: ${{ secrets.FI_MGMT_API_KEY }}
        run: |
          api_key=$(./intelligence/dev/get-api-key.sh)
          echo "::add-mask::$api_key"
          echo "api_key=$api_key" >> $GITHUB_OUTPUT

      - name: Run tests
        working-directory: intelligence/ts
        env:
          FI_DEV_REMOTE_URL: ${{ secrets.FI_DEV_REMOTE_URL }}
          FI_API_KEY: ${{ steps.get_api_key.outputs.api_key }}
        run: pnpm test

  fi_ts_docs:
    name: Docs build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20.11.0'

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Build docs
        working-directory: intelligence/ts
        run: pnpm build:docs

  fi_ts_release_dry_run:
    name: Release dry-run
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14.0'
          registry-url: https://registry.npmjs.org

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies
        working-directory: intelligence/ts
        run: pnpm install

      - name: Run build
        working-directory: intelligence/ts
        run: pnpm build

      - name: Publishing dry-run
        working-directory: intelligence/ts
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: pnpm publish . --access public --no-git-checks --dry-run
