name: Swift

on:
  push:
    branches: ['main']
    paths: ['src/swift/**']
  pull_request:
    branches: ['main']
    paths: ['src/swift/**']

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    defaults:
        run:
            working-directory: src/swift/flwr
    name: Test
    runs-on: macos-14
    steps:
      - uses: fwal/setup-swift@v2
        with:
          swift-version: 5.10
      - uses: actions/checkout@v4
      - name: Run tests
        run: arch -x86_64 xcodebuild test -scheme flwr -destination 'platform=iOS Simulator,name=iPhone 15 Pro Max,OS=17.2'

  build_docs:
    runs-on: macos-latest
    name: Build docs
    steps:
      - uses: fwal/setup-swift@v2
        with:
          swift-version: 5.10
      - uses: actions/checkout@v4
      - name: Build docs
        run: ./dev/build-swift-api-ref.sh

  deploy_docs:
    needs: "build_docs"
    if: ${{ github.ref == 'refs/heads/main' && github.repository == 'adap/flower' && !github.event.pull_request.head.repo.fork }}
    runs-on: macos-latest
    name: Deploy docs 
    steps:
      - uses: fwal/setup-swift@v2
        with:
          swift-version: 5.10
      - uses: actions/checkout@v4
      - name: Build and deploy docs
        env:
          AWS_DEFAULT_REGION: ${{ secrets. AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets. AWS_SECRET_ACCESS_KEY }}
        run: ./dev/deploy-swift-docs.sh
