name: Publish `flwr` release on PyPI

on:
  push:

jobs:
  parameters:
    if: ${{ github.repository == 'adap/flower' }}
    name: Collect docker build parameters
    runs-on: ubuntu-22.04
    timeout-minutes: 10
    outputs:
      # pip-version: ${{ steps.versions.outputs.pip-version }}
      # setuptools-version: ${{ steps.versions.outputs.setuptools-version }}
      matrix: ${{ steps.matrix.outputs.matrix }}
      flwr-version: ${{ steps.versions.outputs.flwr-version }}
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      # - uses: ./.github/actions/bootstrap
      #   id: bootstrap

      - id: versions
        run: |
          # echo "pip-version=${{ steps.bootstrap.outputs.pip-version }}" >> "$GITHUB_OUTPUT"
          # echo "setuptools-version=${{ steps.bootstrap.outputs.setuptools-version }}" >> "$GITHUB_OUTPUT"
          echo "flwr-version=1.12.0" >> "$GITHUB_OUTPUT"

      - id: matrix
        run: |
           python dev/build-docker-image-matrix.py --flwr-version "${{ steps.versions.outputs.flwr-version }}" > matrix.json
           echo "matrix=$(cat matrix.json)" >> $GITHUB_OUTPUT

  create-update-pr:
    if: ${{ github.repository == 'adap/flower' }}
    name: Create a PR with the updated Docker READMEs
    runs-on: ubuntu-22.04
    needs: [parameters]
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - run: ./dev/update-docker-readmes.sh ${{ needs.parameters.outputs.flwr-version }} '${{ needs.parameters.outputs.matrix }}'

      - uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c # v6.1.0
        with:
          branch: doc/update-docker-readmes-${{ needs.parameters.outputs.flwr-version }}
          delete-branch: true
          commit-message: Add flwr version ${{ needs.parameters.outputs.flwr-version }} to Docker READMEs
          title: docs(framework:skip) Add flwr version ${{ needs.parameters.outputs.flwr-version }} to Docker READMEs
          body: Chnages autogenereated by [${{ github.run_id }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})
