[project]
name = "fds-e2-tensorflow"
version = "0.1.0"
description = "Flower Datasets with TensorFlow"
requires-python = ">=3.10,<3.11"
dependencies = [
    "flwr-datasets[vision]",
    "tensorflow-cpu>=2.9.1,<3.0.0,!=2.11.1",
    "tensorflow-io-gcs-filesystem<0.35.0",
    "parameterized==0.9.0",
]

[tool.uv.sources]
flwr-datasets = { path = "../..", editable = true }
