[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "federated-kaplan-meier-fitter"
version = "1.0.0"
description = "Federated Kaplan Meier Fitter with Flower"
license = "Apache-2.0"
dependencies = [
    "flwr[simulation]>=1.22.0",
    "flwr-datasets>=0.5.0",
    "numpy>=1.23.2",
    "pandas>=2.0.0",
    "lifelines>=0.28.0",
]
[tool.hatch.build.targets.wheel]
packages = ["."]

[tool.flwr.app]
publisher = "flwrlabs"

[tool.flwr.app.components]
serverapp = "examplefkm.server_app:app"
clientapp = "examplefkm.client_app:app"

[tool.flwr.app.config]
min-num-clients = 2
num-server-rounds = 1

[tool.flwr.federations]
default = "local-simulation"

[tool.flwr.federations.local-simulation]
options.num-supernodes = 2
